{% liquid
  for tag in product.tags
    assign tag_array = tag | split: ':'
      if tag_array[0] == 'product_card_tag'
        assign label =  tag_array[1]
      endif
  endfor

  assign variant_image = product.selected_or_first_available_variant.featured_image
  if variant_image == blank
    assign variant_image = product.featured_image
  endif
%}

<c-product-card class="c-product-card js-product-card" data-product-handle="{{ product.handle }}">
  <div class="c-product-card__top">
    {% if label != blank %}
      <div class="c-product-card__label">{{ label }}</div>
    {% endif %}
    <a href="{{ product.url }}" class="c-product-card__image">
      <img
      srcset="
        {%- if variant_image.width >= 165 -%}{{ variant_image | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if variant_image.width >= 360 -%}{{ variant_image | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if variant_image.width >= 535 -%}{{ variant_image | image_url: width: 535 }} 535w,{%- endif -%}
        {%- if variant_image.width >= 750 -%}{{ variant_image | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if variant_image.width >= 1070 -%}{{ variant_image | image_url: width: 1070 }} 1070w,{%- endif -%}
        {%- if variant_image.width >= 1500 -%}{{ variant_image | image_url: width: 1500 }} 1500w,{%- endif -%}
        {{ variant_image | image_url }} {{ variant_image.width }}w
      "
      src="{{ variant_image | image_url: width: 750 }}"
      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
      alt="{{ variant_image.alt | escape }}"
      width="{{ variant_image.width }}"
      height="{{ variant_image.height }}"
    >
    </a>
  </div>
  <div class="c-product-card__bottom">
    <a class="c-product-card__title" href="{{ product.url }}">
      {{ product.title }}
    </a>

    <div class="c-product-card__description">{{ product.description }}</div>

    <div class="c-product-card__form-row">
      <div class="c-product-card__price js-product-price">{{ product.selected_or_first_available_variant.price |  money }}</div>
      {% unless product.has_only_default_variant %}
        <div class="c-product-card__select-wrapper">
          <select class="c-product-card__select js-product-card__select">
            {% for variant in product.variants %}
              <option
                value="{{ variant.id }}"
                {% if variant.id == product.selected_or_first_available_variant.id %}selected{% endif %}
              >{{ variant.title }}</option>
            {% endfor %}
          </select>
          {% render 'icon-small-arrow' %}
        </div>
      {% endunless %}
    </div>
      <button 
        class="c-product-card__button js-product-card__button" 
        {% if product.has_only_default_variant %}data-variant-id={{ product.selected_or_first_available_variant.id }}{% endif %}
        {% unless product.selected_or_first_available_variant %}disabled{% endunless %}
      >
        {% render 'icon-cart' %}
        <span class="c-product-card__button-text js-product-card__button-text">
          {% if product.selected_or_first_available_variant.available %}
              {{ 'general.product_card.add_to_cart' | t }}
            {% else %}
              {{ 'general.product_card.sold_out' | t }}
          {% endif %}
        </span>
      </button>
  </div>
</c-product-card>